VITE_SUPABASE_URL=https://myhodtkaowcwcwwnvfrp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aG9kdGthb3djd2N3d252ZnJwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTAzMzMzNSwiZXhwIjoyMDkwNjA5MzM1fQ.pbmgZLKc2LTVzExptBc-5nQbQgkzWeIhkwjBr9pgJ3c


re_fT5Aceo5_Ck7a5k6HJ8e82M6cAd3izV4h